html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #D5D5D5;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #132646;
    align-items: center;
    padding: 1px;
    z-index: 1;
    border-bottom: solid #121621;
    gap: 1%;
}

#logo {
    margin-left: 8px;
    background-image: url(titulo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 250px;
}

#tudoprolado {
    margin-left: auto;
}

#hamb {
    width: 2.90vh;
    height: 2.9vh;
    border: hidden;
    background-image: url(hamb.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 1.5%;
}

#pt {
    width: 27px;
    height: 20px;
    background-image: url(bandeira-brasil.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
    border-radius: 20%;
    cursor: pointer;
}

#esp {
    width: 27px;
    height: 20px;
    background-image: url(bandeira-espanha.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
    border-radius: 20%;
    cursor: pointer;
}

#esp:hover {
    background-image: url(bandeira-venezuela.png);
}

#abaixoheader {
    width: 100%;
    height: 80px;
}

#barra-oculta {
    top: 100px;
    width: 100%;
    position: fixed;
    max-height: 0;
    overflow: hidden;
    background-color: #a58450;
    color: #121621;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 20px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    z-index: 1;
}

#barra-oculta.ativa {
    max-height: 150px;
    padding: 10px 0;
}

.redi {
    text-decoration: none;
    cursor: pointer;
    color: #121621;
}

.redi:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #121621;
}

.redi:visited {
    color: #121621;
}

/*Seção 1--------------------------------------------------------------------------------------------------------*/

#secao1 {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #121621;
    font-family: "Playfair Display", serif;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#s1c1 {
    background-color: #121621;
    width: 50%;
    height: fit-content;
    border-radius: 8px;
    padding: 1%;
    text-align: justify;
    overflow: hidden;
}

#s1h1 {
    color: #a58450;
    font-size: 33px;
    max-width: 100%;
    max-height: 100%;
}

#s1p1 {
    color: #D5D5D5;
    font-size: 22px;
    max-width: 100%;
    max-height: 100%;
}

#s1logo {
    width: 30vh;
    height: 30vh;
    border-radius: 250px;
}

/*Seção 2--------------------------------------------------------------------------------------------------------*/

#secao2 {
    display: flex;
    width: 100%;
    height: 700px;
    background-color: #a58450;
    font-family: "Playfair Display", serif;
    gap: 50px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#s2c1 {
    background-color: #121621;
    width: 50%;
    height: 70%;
    border-radius: 30px;
    padding: 1.2%;
    text-align: justify;
    overflow: hidden;
    color: #D5D5D5;
}

#foto-renzo {
    width: 350px;
    height: auto;
    border-radius: 50px;
}

#s2h1 {
    font-size: 25px;
    font-style: italic;
}

.s2p {
    font-size: 20px;
}

/*Seção 3--------------------------------------------------------------------------------------------------------*/

#secao3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #D5D5D5;
    font-family: "Playfair Display", serif;
    gap: 30px;
    justify-content: center;
    margin-top: 4%;
}

.s3cxs {
    width: 500px;
    height: 400px;
    background-color: #132646;
    border-radius: 20px;
    padding: 1.2%;
}

.s3h1txt {
    color: #a58450;
    font-size: 30px;
    text-align: center;
}

.s3dentro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: center;
}

.s3ptxt {
    padding-top: 2%;
    color: #D5D5D5;
    text-align: justify;
    font-size: 18px;
}

#secao3-1 {
    display: flex;
    width: 100%;
    height: none;
    background-color: #D5D5D5;
    font-family: "Playfair Display", serif;
    gap: 50px;
    justify-content: center;
    gap: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
}

#s3c7 {
    margin-top: 1%;
    max-height: none;
    width: 60%;
    background-color: #132646;
    border-radius: 20px;
}

#s3h1txt {
    color: #a58450;
    font-size: 30px;
    padding: 1%;
    text-align: center;
}

.s3ptxt2 {
    padding-top: 0.5%;
    color: #D5D5D5;
    text-align: justify;
    font-size: 18px;
    text-align: center;
    margin-bottom: 1%;
}

/*Seção 4--------------------------------------------------------------------------------------------------------*/

#secao4 {
    width: 100%;
    height: auto;
    background-color: #D5D5D5;
    font-family: "Playfair Display", serif;
    gap: 30px;
    margin-top: 3%;
    justify-content: center;
}

#s4c0 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 1.5%;
}

.s4h1 {
    color: #132646;
    font-size: 45px;
}

#s4c1 {
    width: 80%;
    height: auto;
    background-color: #132646;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    color: #D5D5D5;
    padding: 1.2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0.5%;
}

.s4c1cxs {
    width: 29%;
    height: auto;
    color: #D5D5D5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    border-left: solid #a58450;
    padding: 1%;
}

.s4h1cxs {
    font-size: 30px;
    color: #a58450;
    text-align: center;
}

.s4pcxs {
    font-size: 18px;
    text-align: justify;
    list-style: none;
}

.s4pcxs1 {
    font-size: 18px;
    text-align: justify;
    margin-left: 3px;
}

/*Seção 5--------------------------------------------------------------------------------------------------------*/

#secao5 {
    margin-top: 3%;
    width: 100%;
    height: auto;
    background-image: url(diferenciais.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.2%;
    font-family: "Playfair Display", serif;
}

.s5h1 {
    color: #D5D5D5;
    font-size: 45px;
    text-align: center;
    margin-bottom: 1%;
}

#s5p1 {
    color: #a58450;
    font-size: larger;
    font-style: italic;
    text-align: center;
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 5%;
}

#s5p2 {
    color: #D5D5D5;
    font-size: 30px;
    text-align: center;
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 5%;
}

.s5ps {
    color: #D5D5D5;
    font-size: larger;
    text-align: center;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

/*Seção 6--------------------------------------------------------------------------------------------------------*/

#secao6 {
    width: 100%;
    height: auto;
    background-color: #132646;
    display: flex;
    gap: 8%;
    align-items: center;
    justify-content: center;
}

#s6div1 {
    width: 60%;
    height: 44vh;
    border-radius: 20px;
    background-color: #D5D5D5;
    color: #132646;
    padding: 1.2%;
    margin-top: 3%;
}

#s6div1h1 {
    color: #132646;
    font-size: 41px;
    margin-bottom: 2%;
}

#s6div1p1 {
    color: #132646;
    font-size: 20px;
    margin-bottom: 2%;
}

#wimage {
    background-image: url(wimage.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 20%;
    cursor: pointer;
    margin-bottom: 3%;
    margin-right: 1%;
}

#gimage {
    background-image: url(gimage.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border: solid rgb(155, 2, 2);
    border-radius: 15px;
    cursor: pointer;
}

#s6div1h2 {
    color: #132646;
    font-size: 41px;
    margin-bottom: 2%;
}

#s6div1p2 {
    color: #132646;
    font-size: 20px;
    margin-bottom: 2%;
}

#s6div1p3 {
    color: #132646;
    font-size: 20px;
    margin-bottom: 2%;
}

#iimage {
    background-image: url(iimage.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 20%;
    background-color: transparent;
    cursor: pointer;
    margin-right: 1%;
}

#limage {
    background-image: url(limage.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 20%;
    background-color: transparent;
    cursor: pointer;
}

#s6div2 {
    align-items: center;
    width: fit-content;
    height: 50vh;
    border-radius: 20px;
    background-color: #D5D5D5;
    color: #132646;
    padding: 1.2%;
    margin-top: 3%;
    margin-right: 4%;
    overflow: hidden;
}

/*Media--------------------------------------------------------------------------------------------------------*/

@media (max-width: 768px) {

/*Seção 1--------------------------------------------------------------------------------------------------------*/

    #secao1 {
        height: auto;
        flex-direction: column;
        gap: 20px;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 10%;
    }

    #s1c1, #s1logo {
        height: auto;
        width: auto;
        text-align: center;
    }

    #s1logo {
        max-width: 250px;
        height: auto;
    }

    #s1h1 {
    font-size: 25px;
    max-width: 100%;
    max-height: 100%;
}

    #s1p1 {
    font-size: 18px;
    max-width: 100%;
    max-height: 100%;
}

    #barra-oculta.ativa {
    max-height: 150px;
    font-size: 20px;
}

    #hamb {
    width: 9.5vw;
    height: 4vh;
    }

/*Seção 2--------------------------------------------------------------------------------------------------------*/

    #secao2 {
        height: auto;
        flex-direction: column;
        gap: 20px;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 10%;
    }

    #s2c1 {
        height: auto;
        width: 80%;
        text-align: center;
        padding: 4%;
    }

    #foto-renzo {
        width: 55%;
    }

    #s2h1 {
    font-size: 25px;
    max-width: 100%;
    max-height: 100%;
}

    .s2p {
    font-size: 18px;
    max-width: 100%;
    max-height: 100%;

}
    #hamb {
        margin-right: 7%;

    }
    #logo {
        height: 50px;
        width: 200px;
    }

/*Seção 3--------------------------------------------------------------------------------------------------------*/

#secao3{
    gap: 5px;
    margin-top: 7%;
}

.s3cxs {
    max-width: 100%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.s3h1txt {
    color: #a58450;
    font-size: 22px;
    text-align: center;
    padding: 2%;
}

.s3ptxt {
    padding: 4%;
    color: #D5D5D5;
    text-align:left;
    font-size: 16px;
}

.s3dentro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

#s3c7 {
    width: 500px;
    height: auto;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2.5%;
    text-align: left;
}

#s3h1txt {
    color: #a58450;
    font-size: 22px;
    text-align: center;
}

.s3ptxt2 {
    padding: 5%;
    color: #D5D5D5;
    text-align: left;
    font-size: 16px;
}

/*Seção 4--------------------------------------------------------------------------------------------------------*/

.s4h1 {
    font-size: 19px;
    margin-top: 5%;
}

.s4h1cxs {
    font-size: 22px;
    color: #a58450;
    text-align: center;
}

.s4pcxs {
    font-size: 16px;
    text-align: justify;
    margin-left: 5px;
}

#s4c1 {
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2.5%;
    text-align: center;
    flex-direction: column;
}

.s4c1cxs {
    width: auto;
    height: auto;
    gap: 25px;
    padding: auto;
}

/*Seção 5--------------------------------------------------------------------------------------------------------*/

.s5h1 {
    font-size: 22px;
}

#s5p1 {
    font-size: 12px;
}

#s5p2 {
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
}

.s5ps {
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;
}

/*Seção 6--------------------------------------------------------------------------------------------------------*/

#secao6 {
    flex-direction: column;
}

#s6div1 {
    width: 90%;
    height: auto;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
    text-align: center;
}

#s6div1h1 {
    color: #132646;
    font-size: 22px;
    margin-bottom: 2%;
}

#s6div1p1 {
    color: #132646;
    font-size: 16px;
    margin-bottom: 10%;
}

#wimage {
    background-image: url(wimage.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 20%;
    cursor: pointer;
    margin-bottom: 3%;
    margin-right: 8%;
}

#gimage {
    background-image: url(gimage.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border: solid rgb(155, 2, 2);
    border-radius: 15px;
    cursor: pointer;
}

#s6div1h2 {
    color: #132646;
    font-size: 22px;
    margin-bottom: 2%;
}

#s6div1p2 {
    color: #132646;
    font-size: 16px;
    margin-bottom: 10%;
}

#s6div1p3 {
    color: #132646;
    font-size: 20px;
    margin-bottom: 2%;
}

#iimage {
    background-image: url(iimage.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 20%;
    cursor: pointer;
    margin-bottom: 10%;
    margin-right: 8%;
}

#limage {
    background-image: url(limage.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 20%;
    background-color: transparent;
    cursor: pointer;
}

#s6div2 {
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    background-color: #D5D5D5;
    color: #132646;
    padding: 1.2%;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    overflow: hidden;
}

}